body {
  font-family: sans-serif;
  background-color: #FFF
}

.header {
  height: 50px;
  width: 100%;
}

.scores{
  display: flex;
  justify-content: flex-start;
}
.timer{
  display: flex;
  justify-content: flex-end;
}